{% if user.is_authenticated %}
	<li>User: {{ user.username }}</li>
	<li><a href="{% url 'movies:user_list' %}">My List</a></li>
	<li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>   
{% else %}
	<li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>   
{% endif %}

<br>
<hr>
<hr>

{% if movie_data %}

  <form action="{% url 'movies:user_list' %}" method="post">
    {% csrf_token %}
    <ol>
    {% for movie in movie_data %}
      <li>Title: <strong>{{ movie.original_title }}</strong>
        <ul>
          <li>ID: <strong>{{ movie.id }}</strong></li>
          <li>
            {{ movie.ptw }}

            {% if movie.ptw == 'not_yet' %}
              <button name="query" type="submit" id="add_button" onclick="return confirm('Tambahkan ke Plan to Watch?')" value="tambah,ptw,{{ movie.id }}">
              Tambah ke Plan to Watch
              </button>
            {% else %}
              Sudah ditambahkan ke Plan to Watch
            {% endif %}

          </li>
          <li>
            {{ movie.w }}

            {% if movie.w == 'not_yet' %}
            <button name="query" type="submit" id="add_button" onclick="return confirm('Tambahkan ke Watched?')" value="tambah,w,{{ movie.id }}">
            Tambah ke Watched
            </button>
            {% else %}
              Sudah ditambahkan ke Watched
            {% endif %}

          </li>
          <li>
            {{ movie.d }}
            {% if movie.d == 'not_yet' %}
            <button name="query" type="submit" id="add_button" onclick="return confirm('Tambahkan ke Dropped')" value="tambah,d,{{ movie.id }}">
            Tambah ke Dropped
            </button>
            {% else %}
            Sudah ditambahkan ke Dropped
            {% endif %}

          </li>
        </ul>
      </li>
      <br>
    {% endfor %}
    </ol>
  </form>

{% else %}
  <h1>No API data fetched</h1>
{% endif %}
  
