{% if user.is_authenticated %}
	<li>User: {{ user.username }}</li>
	<li><a href="{% url 'movies:user_list' %}">My List</a></li>
	<li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>   
{% else %}
	<li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>   
{% endif %}

<br>
<hr>
<hr>

{% if movie_data %}

{% for movie in movie_data %}
  <form action="" method="post">
    {% csrf_token %}
    <ol>
      <li>Title: <strong>{{ movie.original_title }}</strong>
        <ul>
          <li>ID: <strong>{{ movie.id }}</strong></li>
          <li>
            {% if movie.status == 'not_yet' %}
              <select name="add" class="opt">
                <option value="none">Pilih Status</option>
                <option value="{{ movie.id }},ptw">Plan to Watch</option>
                <option value="{{ movie.id }},w">Watched</option>
                <option value="{{ movie.id }},d">Dropped</option>
              </select>
              <button disabled value="test" type="submit" onclick="return confirm('Tambahkan ke Plan to Watch?')">
                Tambah ke list
              </button>
            {% else %}
              Sudah ditambahkan ke {{movie.status}}
            {% endif %}
          </li>
        </ul>
      </li>
    </ol>
  </form>
{% endfor %}
  
{% else %}
  <h1>No API data fetched</h1>
{% endif %}
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  $(".opt").change(function() {
    let button = $(this).next("button");
    if (this.value == "none") {
      button.prop("disabled", true)
    } else {
      button.prop("disabled", false);
    } 
  });
</script>